{% extends 'base.html.twig' %}

{% block title %}Link index{% endblock %}

{% block body %}
    <h1>Liste des liens</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Url</th>
                <th>Decription</th>
                <th>Tag</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for link in links %}
            <tr>
                <td>{{ link.id }}</td>
                <td>{{ link.titre }}</td>
                <td><a href="{{ link.url }}" target="_blank">{{ link.url }}</a></td>
                <td>{{ link.decription }}</td>
                <td>{{ link.tag ? link.tag|join(', ') : '' }}</td>
                <td>
                    <a href="{{ path('app_link_show', {'id': link.id}) }}">show</a>
                    <a href="{{ path('app_link_edit', {'id': link.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_link_new') }}">Create new</a>
{% endblock %}
